@page
@model WebApplication1.Pages.Aluno.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alunos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewAluno.Nome" class="control-label">Nome</label>
                <input asp-for="NewAluno.Nome" class="form-control" />
                <span asp-validation-for="NewAluno.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAluno.Endereco" class="control-label"></label>
                <input asp-for="NewAluno.Endereco" class="form-control" />
                <span asp-validation-for="NewAluno.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAluno.CPF" class="control-label"></label>
                <input asp-for="NewAluno.CPF" class="form-control" />
                <span asp-validation-for="NewAluno.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAluno.Matricula" class="control-label"></label>
                <input asp-for="NewAluno.Matricula" class="form-control" />
                <span asp-validation-for="NewAluno.Matricula" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewAluno.Upload">Image</label>
                <input asp-for="NewAluno.Upload" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section RightFooter
{
    <img src="~/images/menu/cappucino.png" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
